body{
    text-align: center;
    background: linear-gradient(120deg ,rgb(150, 150, 231),rgb(150, 79, 150), rgb(44, 44, 44) );
    text-align: center;
}

.bi{
    font-size: 30px;
}

.bii{
    font-size: 30px;
}

.af{
    font-size: 30px;
}



.ar{
 border-image-width: auto;
 font-size: 30px;
}

